## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
import random
sample_list_1=random.sample(range(101),80)
print(sample_list_1)

[33, 58, 59, 92, 53, 88, 18, 17, 34, 97, 66, 65, 51, 90, 9, 37, 32, 43, 80, 85, 96, 87, 71, 49, 95, 5, 98, 94, 99, 74, 57, 63, 6, 3, 75, 29, 47, 21, 22, 56, 48, 41, 67, 42, 27, 72, 61, 38, 82, 68, 11, 83, 14, 86, 8, 28, 25, 50, 2, 26, 35, 54, 77, 62, 78, 39, 16, 76, 91, 44, 24, 12, 52, 40, 36, 4, 31, 60, 7, 69]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
import random
sample_list_2 = []
for _ in range(80):
    random_value = random.randint(0, 100)
    sample_list_2.append(random_value)
print(sample_list_2)

[48, 9, 42, 10, 33, 35, 40, 48, 30, 31, 7, 64, 80, 13, 73, 35, 54, 43, 24, 39, 41, 36, 62, 65, 6, 40, 6, 99, 9, 12, 18, 97, 69, 64, 67, 33, 53, 11, 23, 35, 47, 49, 64, 90, 55, 78, 92, 76, 26, 97, 51, 97, 61, 25, 60, 89, 61, 83, 55, 16, 50, 34, 33, 11, 58, 11, 25, 50, 39, 94, 65, 22, 38, 74, 90, 25, 19, 38, 92, 99]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 - set2
print(set3)

{2, 3, 4, 5, 8, 14, 17, 21, 27, 28, 29, 32, 37, 44, 52, 56, 57, 59, 63, 66, 68, 71, 72, 75, 77, 82, 85, 86, 87, 88, 91, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1
print(set4)

{64, 73, 10, 13, 19, 55, 23, 89, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1 & set2
print(set5)

{6, 7, 9, 11, 12, 16, 18, 22, 24, 25, 26, 31, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 47, 48, 49, 50, 51, 53, 54, 58, 60, 61, 62, 65, 67, 69, 74, 76, 78, 80, 83, 90, 92, 94, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [12]:
len(set1) + len(set2) == len(set3) + len(set4) + 2 * len(set5)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1 - set2
set4 = set2 - set1
set5 = set1 & set2
len_set1 = len(set1)
len_set2 = len(set2)
len_set3 = len(set3)
len_set4 = len(set4)
len_set5 = len(set5)

In [13]:
relationship_formula = len_set1 + len_set2 == len_set3 + len_set4 + 2 * len_set5
print(relationship_formula)

True

#### Create an empty set called `set6`.

In [15]:
set6=set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
set6 = set()
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4}

#### Check if `set1` and `set6` are equal.

In [17]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
is_subset_2_in_1 = set2.issubset(set1)
is_subset_3_in_1 = set3.issubset(set1)
print("Is set2 a subset of set1?", is_subset_2_in_1)
print("Is set3 a subset of set1?", is_subset_3_in_1)

Is set2 a subset of set1? False
Is set3 a subset of set1? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
aggregated_set_1 = set3.union(set4, set5)
aggregated_set_2 = set1.union(set2)
print("Aggregated set (set3, set4, set5):", aggregated_set_1)
print("Aggregated set (set1, set2):", aggregated_set_2)

Aggregated set (set3, set4, set5): {1, 2, 3, 4, 5, 6}
Aggregated set (set1, set2): {1, 2, 3, 4, 5, 6}

#### Using the `pop` method, remove the first element from `set1`.

In [26]:
set1 = {1, 2, 3, 4}
removed_element = set1.pop()
print("Removed element:", removed_element)
print("Updated set1:", set1)

Removed element: 1
Updated set1: {2, 3, 4}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [27]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)
print("Remaining elements in set1:", set1)

Remaining elements in set1: {2, 3, 4}