## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

from random import sample

sample_list_1 = sample(range(101), k=80)

print(sample_list_1)

print(len(sample_list_1))

for n in sample_list_1:
    print(f"{n}: {sample_list_1.count(n)}")

[2, 100, 47, 85, 51, 88, 50, 84, 28, 44, 6, 86, 80, 87, 22, 55, 54, 96, 31, 69, 64, 27, 15, 60, 20, 39, 58, 33, 62, 48, 97, 75, 23, 81, 37, 3, 46, 59, 17, 52, 76, 49, 26, 34, 13, 25, 98, 36, 93, 67, 89, 61, 71, 11, 0, 78, 95, 40, 66, 42, 70, 35, 65, 10, 12, 63, 32, 68, 94, 74, 56, 90, 41, 16, 91, 57, 73, 30, 45, 7]
80
2: 1
100: 1
47: 1
85: 1
51: 1
88: 1
50: 1
84: 1
28: 1
44: 1
6: 1
86: 1
80: 1
87: 1
22: 1
55: 1
54: 1
96: 1
31: 1
69: 1
64: 1
27: 1
15: 1
60: 1
20: 1
39: 1
58: 1
33: 1
62: 1
48: 1
97: 1
75: 1
23: 1
81: 1
37: 1
3: 1
46: 1
59: 1
17: 1
52: 1
76: 1
49: 1
26: 1
34: 1
13: 1
25: 1
98: 1
36: 1
93: 1
67: 1
89: 1
61: 1
71: 1
11: 1
0: 1
78: 1
95: 1
40: 1
66: 1
42: 1
70: 1
35: 1
65: 1
10: 1
12: 1
63: 1
32: 1
68: 1
94: 1
74: 1
56: 1
90: 1
41: 1
16: 1
91: 1
57: 1
73: 1
30: 1
45: 1
7: 1

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

from random import randint

sample_list_2 = []

for i in range(80):
    sample_list_2.append(randint(0,100))

print(sample_list_2)

print(len(sample_list_2))

[78, 94, 4, 84, 30, 39, 68, 40, 21, 17, 10, 23, 14, 9, 95, 74, 73, 23, 53, 32, 65, 58, 80, 37, 46, 75, 46, 98, 65, 75, 71, 24, 71, 61, 20, 34, 25, 86, 35, 82, 95, 27, 95, 61, 28, 53, 30, 34, 79, 56, 60, 70, 12, 87, 89, 31, 57, 45, 33, 60, 97, 19, 64, 27, 67, 19, 12, 55, 36, 26, 65, 77, 23, 62, 78, 27, 91, 37, 35, 80]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

# The length is no longer 80 because sets have unique values by default. Given that our new list didn't have to have unique values, the length of the set has decreased, as it only reflexes the ones that are, indeed, unique.

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = []

for n in set1:
    if n not in set2:
        set3.append(n)

set3 = set(set3)
print(set3)
type(set3)

{0, 2, 3, 6, 7, 11, 13, 15, 16, 22, 41, 42, 44, 47, 48, 49, 50, 51, 52, 54, 59, 63, 66, 69, 76, 81, 85, 88, 90, 93, 96, 100}

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = []

for n in set2:
    if n not in set1:
        set4.append(n)
set4 = set(set4)
print(set4)
type(set4)

{4, 9, 77, 14, 79, 82, 19, 21, 53, 24}

set

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{10, 12, 17, 20, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 45, 46, 55, 56, 57, 58, 60, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 75, 78, 80, 84, 86, 87, 89, 91, 94, 95, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))


len(set1) == (len(set2)+len(set3))-len(set4)
len(set2) == (len(set1)-len(set3)) + len(set4)
len(set3) == (len(set1)-len(set2)) + len(set4)
len(set4) == len(set2)-len(set5)
len(set5) == len(set2) - len(set4)

80
58
32
10
48

True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = {"",}
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3,set5)
print(set6)

{'', 0, 2, 3, 6, 7, 10, 11, 12, 13, 15, 16, 17, 20, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 78, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

set_aggregate = set3.union(set4,set5)
print(set_aggregate)

set_aggregate2 = set_aggregate.union(set1, set2)
print(set_aggregate2)

set_aggregate == set_aggregate2

{0, 2, 3, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}
{0, 2, 3, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

print(set1)

set1 = list(set1)

set1.pop(0)

set1 = set(set1)

print(set1)

{0, 2, 3, 6, 7, 10, 11, 12, 13, 15, 16, 17, 20, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 78, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}
{2, 3, 6, 7, 10, 11, 12, 13, 15, 16, 17, 20, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 78, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for n in list_to_remove:
    if n in set1:
        set1.remove(n)
print(set1)

{2, 3, 6, 7, 10, 12, 13, 15, 16, 17, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 44, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 78, 80, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}