# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd
from statsmodels.stats.weightstats import ztest
from scipy import stats
import seaborn as sns
import matplotlib.pylab as plt

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [8]:
# Your code here:
path_data= '../data/Current_Employee_Names__Salaries__and_Position_Titles.csv'
salaries_df = pd.read_csv(path_data)

Examine the `salaries` dataset using the `head` function below.

In [9]:
# Your code here:
salaries_df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [10]:
# Your code here:
salaries_annual = salaries[salaries['Salary or Hourly'] == 'Salary']
salaries_hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Your code here:
print('Salaried Employees:' + str(salaries_annual['Name'].count()))
print('Salaried Hourly:' + str(salaries_hourly['Name'].count()))

Salaried Employees:25161
Salaried Hourly:8022

In [12]:
df_annual = salaries[salaries['Salary or Hourly'] == 'Salary']
df_hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']
df_hourly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [13]:
salaries_hourly['Hourly Rate'].hist

<bound method hist_series of 4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64>

In [14]:
df_hourly['Hourly Rate'].hist

<bound method hist_series of 4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64>

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [23]:
# Your code here:
salaries_df.groupby('Department').count()['Name']

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [16]:
# Your code here:
#HO: u == 30$/h   la alternatova nula es lo que tu pruebas( el banco de datos que tu tomas)
#H1: u != 30$/h
#alpha = 1-0.95(95%) => 0,05


#Alfa es la distrubución normal, decoimos que la media es de 30, con loi cual yo tengo en firme es que la media es 30. El Alfa es que yo lo afirmo con un porcentaje de icentidumbre.
#1-
#si el p values es menor que la alpha rechazo la hipotesis nul

#Test parameters
hypothesis_mean = 30
sample_mean = salaries_hourly['Hourly Rate'].mean
print(sample_mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of 4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64>

In [17]:
alpha = 0.05

In [18]:
hypothesis_mean = 30
sample_mean = df_hourly['Hourly Rate'].mean()
alpha = 0.05
print(f'Hypothesis mean: {hypothesis_mean} USD',
      f'\nSample mean: {sample_mean} USD',
      f'\nProbability threshold: {alpha}')

Hypothesis mean: 30 USD
Sample mean: 32.78855771628024 USD
Probability threshold: 0.05

In [19]:
from scipy import stats

In [20]:
#salaries_hourly['Hourly Rate'].mean

hourly_rates = salaries_df['Hourly Rate'].dropna()
z_score, p_value = ztest(hourly_rates, value=hypothesis_mean)

print("Z-score:", z_score)
print("P-value:", p_value)

Z-score: 20.6198057854942
P-value: 1.8228873859286195e-94

In [21]:
Z_score, p_value = ztest(salaries_hourly['Hourly Rate'], value=hypothesis_mean)

In [22]:
zcscore

NameError: name 'zcscore' is not defined

In [49]:
pvalue

NameError: name 'pvalue' is not defined

In [50]:
#Normaalizacion en distribución z

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [56]:
salaries_anual_police_df = salaries_annual[salaries_annual['Department']=='Police']

NameError: name 'salaries_anual' is not defined

In [57]:
salaries_anual_police_df['Annual Salary].mean()

SyntaxError: EOL while scanning string literal (3960360285.py, line 1)

In [ ]:
#H0 = U < 86k$/year
#H1 = U >= 86k$/year    # esto es lo que nosotros creemos 
alpha = 0,05

In [8]:
# Your code here:
#H0 = la hipotesis nula es la que se rechaza 
#H1 =la hipotesis alternatova es la que apriory es la buena, la que nosotros creemos que es vdd, en este caso la media es 86,000 por lo que fue lo del año pasado, ,ahora vamos a ver si estadisticamente el p value es igual( es la que tu se te va a cumplir )
#si el p value es menor que alpha rechazo la hipotesis nula, (si es positivo, significa que esta hacia la derecha)

In [ ]:
# para comprobar lo que estamos diciendo le hacemos un test, el mismo que hicimos arriba

hypothesis_mean = 86000
sample_mean = salaries_annual_police_df['Annual Salary'].mean()
print(sample_mean)

In [ ]:
zscore, pvalue = ztest(salaries_annual_police_df['Annual Salary']), value=hypothesis_mean)

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:
#un  intervalo de confianza es ( el aplha es el grado de incertidumbre)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: