In [35]:
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler

In [36]:
iris_df = pd.read_csv('iris-data.csv')

In [37]:
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [38]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [39]:
iris_df.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count       150.000000      150.000000       150.000000      145.000000
mean          5.644627        3.054667         3.758667        1.236552
std           1.312781        0.433123         1.764420        0.755058
min           0.055000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.400000
50%           5.700000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [40]:
# COMPROBACION DE NULOS

for columna in iris_df.columns:
    nulos = iris_df[columna].isnull().sum()
    unicos = iris_df[columna].nunique()
    print(f"Columna {columna}: {nulos} nulos, {unicos} valores únicos")

Columna sepal_length_cm: 0 nulos, 38 valores únicos
Columna sepal_width_cm: 0 nulos, 23 valores únicos
Columna petal_length_cm: 0 nulos, 43 valores únicos
Columna petal_width_cm: 5 nulos, 22 valores únicos
Columna class: 0 nulos, 5 valores únicos

In [41]:
iris_df['class'].unique()

array(['Iris-setosa', 'Iris-setossa', 'Iris-versicolor', 'versicolor',
       'Iris-virginica'], dtype=object)

In [42]:
correction_map = {
    'Iris-setossa': 'setosa',
    'Iris-setosa': 'setosa',
    'Iris-versicolor': 'versicolor',
    'versicolor': 'versicolor',
    'Iris-virginica': 'virginica'
}

iris_df['class'] = iris_df['class'].map(correction_map).fillna(iris_df['class'])

iris_df['class'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [43]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [44]:
iris_df = iris_df.dropna()

In [45]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  145 non-null    float64
 1   sepal_width_cm   145 non-null    float64
 2   petal_length_cm  145 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            145 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.8+ KB

In [46]:
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,2.3,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [47]:
iris_df['is_setosa'] = iris_df['class'] == 'setosa'
iris_df['is_virginica'] = iris_df['class'] == 'virginica'
iris_df['is_versicolor'] = iris_df['class'] == 'versicolor'

/var/folders/ds/9vmwhs_s1b719j30p7xc47gh0000gn/T/ipykernel_12638/4180632950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df['is_setosa'] = iris_df['class'] == 'setosa'
/var/folders/ds/9vmwhs_s1b719j30p7xc47gh0000gn/T/ipykernel_12638/4180632950.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df['is_virginica'] = iris_df['class'] == 'virginica'
/var/folders/ds/9vmwhs_s1b719j30p7xc47gh0000gn/T/ipykernel_12638/4180632950.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df['is_versicolor'] = iris_df['class'] == 'versicolor'

In [48]:
iris_df.drop('is_versicolor', axis=1, inplace=True)
iris_df.drop('class', axis=1, inplace=True)

/var/folders/ds/9vmwhs_s1b719j30p7xc47gh0000gn/T/ipykernel_12638/1425323468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df.drop('is_versicolor', axis=1, inplace=True)
/var/folders/ds/9vmwhs_s1b719j30p7xc47gh0000gn/T/ipykernel_12638/1425323468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df.drop('class', axis=1, inplace=True)

In [49]:
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,is_setosa,is_virginica
0,5.1,3.5,1.4,0.2,True,False
1,4.9,3.0,1.4,0.2,True,False
2,4.7,3.2,1.3,0.2,True,False
3,4.6,3.1,1.5,0.2,True,False
4,5.0,3.6,1.4,0.2,True,False
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,False,True
146,6.3,2.5,5.0,2.3,False,True
147,6.5,3.0,5.2,2.0,False,True
148,6.2,3.4,5.4,2.3,False,True
149,5.9,3.0,5.1,1.8,False,True

In [50]:

features = ['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm']

scaler = StandardScaler()

iris_df[features] = scaler.fit_transform(iris_df[features])

/var/folders/ds/9vmwhs_s1b719j30p7xc47gh0000gn/T/ipykernel_12638/3064581668.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df[features] = scaler.fit_transform(iris_df[features])

In [51]:
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,is_setosa,is_virginica
0,-0.431408,1.046588,-1.402789,-1.377569,True,False
1,-0.582699,-0.106567,-1.402789,-1.377569,True,False
2,-0.733990,0.354695,-1.460362,-1.377569,True,False
3,-0.809635,0.124064,-1.345216,-1.377569,True,False
4,-0.507054,1.277219,-1.402789,-1.377569,True,False
...,...,...,...,...,...,...
145,0.778918,-0.106567,0.784974,1.413314,False,True
146,0.476336,-1.259723,0.669829,1.413314,False,True
147,0.627627,-0.106567,0.784974,1.014616,False,True
148,0.400691,0.815957,0.900120,1.413314,False,True
149,0.173755,-0.106567,0.727401,0.748818,False,True

In [52]:
iris_df.to_csv('./iris_dclean_scaled.csv')

NameError: name 'iris_df_clean' is not defined