In [1]:
import pandas as pd
import numpy as np

In [4]:
iris_df = pd.read_csv("./iris-data.csv")
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
iris_df.columns

Index(['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm',
       'petal_width_cm', 'class'],
      dtype='object')

In [7]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
missing_values = iris_df.isnull().sum()
missing_values

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     5
class              0
dtype: int64

In [10]:
duplicate_rows = iris_df[iris_df.duplicated()]
duplicate_rows

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
37,4.9,3.1,1.5,0.1,Iris-setosa
142,5.8,2.7,5.1,1.9,Iris-virginica

In [11]:
iris_df.drop_duplicates(inplace=True)

In [12]:
iris_df['class'] = iris_df['class'].str.upper()

In [14]:
z_scores = (iris_df['sepal_length_cm'] - iris_df['sepal_length_cm'].mean()) / iris_df['sepal_length_cm'].std()
outliers = iris_df[abs(z_scores) > 3]

In [15]:
z_scores

0     -0.415554
1     -0.567048
2     -0.718541
3     -0.794288
4     -0.491301
         ...
145    0.796397
146    0.493409
147    0.644903
148    0.417662
149    0.190422
Name: sepal_length_cm, Length: 148, dtype: float64

In [16]:
iris_df = iris_df[abs(z_scores) <= 3]

In [17]:
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,IRIS-SETOSA
1,4.9,3.0,1.4,0.2,IRIS-SETOSA
2,4.7,3.2,1.3,0.2,IRIS-SETOSA
3,4.6,3.1,1.5,0.2,IRIS-SETOSA
4,5.0,3.6,1.4,0.2,IRIS-SETOSA
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,IRIS-VIRGINICA
146,6.3,2.5,5.0,2.3,IRIS-VIRGINICA
147,6.5,3.0,5.2,2.0,IRIS-VIRGINICA
148,6.2,3.4,5.4,2.3,IRIS-VIRGINICA
149,5.9,3.0,5.1,1.8,IRIS-VIRGINICA

In [19]:
iris_df.dropna(axis=1, thresh=len(iris_df) * 0.5, inplace=True)

/var/folders/02/vh3glxc104g12c9mszmdd5fh0000gn/T/ipykernel_47085/3306168257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df.dropna(axis=1, thresh=len(iris_df) * 0.5, inplace=True)

In [20]:
iris_df.to_csv('cleaned_dataset.csv', index=False)