In [1]:
import pandas as pd
import sklearn

In [2]:
iris_df = pd.read_csv('iris-data.csv')

In [3]:
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
for feature in iris_df.columns:
    print(iris_df[feature].describe())

count    150.000000
mean       5.644627
std        1.312781
min        0.055000
25%        5.100000
50%        5.700000
75%        6.400000
max        7.900000
Name: sepal_length_cm, dtype: float64
count    150.000000
mean       3.054667
std        0.433123
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: sepal_width_cm, dtype: float64
count    150.000000
mean       3.758667
std        1.764420
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petal_length_cm, dtype: float64
count    145.000000
mean       1.236552
std        0.755058
min        0.100000
25%        0.400000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal_width_cm, dtype: float64
count                150
unique                 5
top       Iris-virginica
freq                  50
Name: class, dtype: object

In [6]:
iris_df['class'].unique()

array(['Iris-setosa', 'Iris-setossa', 'Iris-versicolor', 'versicolor',
       'Iris-virginica'], dtype=object)

In [7]:
iris_df['class'] = iris_df.apply(lambda row: row['class'].split('-')[-1].replace('ss','s'),axis=1)

In [8]:
iris_df['class'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [9]:
iris_df = iris_df.dropna()

In [10]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  145 non-null    float64
 1   sepal_width_cm   145 non-null    float64
 2   petal_length_cm  145 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            145 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.8+ KB

In [11]:
clean_df = pd.concat([iris_df, pd.get_dummies(iris_df['class'],prefix='class', drop_first=True)], axis=1).drop('class',axis=1)

In [12]:
clean_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class_versicolor,class_virginica
0,5.1,3.5,1.4,0.2,False,False
1,4.9,3.0,1.4,0.2,False,False
2,4.7,3.2,1.3,0.2,False,False
3,4.6,3.1,1.5,0.2,False,False
4,5.0,3.6,1.4,0.2,False,False
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,False,True
146,6.3,2.5,5.0,2.3,False,True
147,6.5,3.0,5.2,2.0,False,True
148,6.2,3.4,5.4,2.3,False,True
149,5.9,3.0,5.1,1.8,False,True

In [13]:
clean_df.to_csv('./iris_clean.csv')